# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [189]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [190]:
# Upload credit_card_transactions.csv to Colab
#from google.colab import files

#csv_file = files.upload()

In [191]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")


# Review the DataFrame
applicant_data_df.head()
applicant_data_df.tail()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [192]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [193]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()
applicant_data_df.tail()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [194]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [195]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [196]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [197]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

c:\Users\think\anaconda3\envs\dev\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [198]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        applicant_data_df[["STATUS", "ASK_AMT", "IS_SUCCESSFUL"]],
        encoded_df
    ],
    axis=1
)


# Review the Dataframe
encoded_df.head()
#encoded_df.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [199]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]

# Display a sample of y
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [200]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X[:5]

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [201]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [202]:


# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [203]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [204]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [205]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  18

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

18

In [206]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  8

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

8

In [207]:
# Create the Sequential model instance
nn = Sequential()

In [208]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [209]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [210]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(1, activation="sigmoid"))

In [211]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_27 (Dense)            (None, 18)                2106

 dense_28 (Dense)            (None, 18)                342

 dense_29 (Dense)            (None, 1)                 19

=================================================================
Total params: 2,467
Trainable params: 2,467
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [212]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [213]:
# Fit the model using 50 epochs and the training data
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 1ms/step - loss: 0.6004 - accuracy: 0.7018
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5567 - accuracy: 0.7283
Epoch 3/50
804/804 [==============================] - 1s 950us/step - loss: 0.5511 - accuracy: 0.7299
Epoch 4/50
804/804 [==============================] - 1s 923us/step - loss: 0.5488 - accuracy: 0.7314
Epoch 5/50
804/804 [==============================] - 1s 910us/step - loss: 0.5468 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 1s 984us/step - loss: 0.5458 - accuracy: 0.7327
Epoch 7/50
804/804 [==============================] - 1s 935us/step - loss: 0.5450 - accuracy: 0.7331
Epoch 8/50
804/804 [==============================] - 1s 957us/step - loss: 0.5439 - accuracy: 0.7328
Epoch 9/50
804/804 [==============================] - 1s 936us/step - loss: 0.5435 - accuracy: 0.7349
Epoch 10/50
804/804 [==============================] - 1s 926us/step - loss: 0.5426 - accuracy: 0.7350
Epoch 11/50
804/804 [==============================] - 1s 946us/step - loss: 0.5419 - accuracy: 0.7363
Epoch 12/50
804/804 [==============================] - 1s 912us/step - loss: 0.5419 - accuracy: 0.7341
Epoch 13/50
804/804 [==============================] - 1s 943us/step - loss: 0.5410 - accuracy: 0.7363
Epoch 14/50
804/804 [==============================] - 1s 907us/step - loss: 0.5411 - accuracy: 0.7353
Epoch 15/50
804/804 [==============================] - 1s 939us/step - loss: 0.5405 - accuracy: 0.7367
Epoch 16/50
804/804 [==============================] - 1s 924us/step - loss: 0.5405 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 1s 919us/step - loss: 0.5401 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 1s 910us/step - loss: 0.5394 - accuracy: 0.7373
Epoch 19/50
804/804 [==============================] - 1s 913us/step - loss: 0.5398 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 1s 908us/step - loss: 0.5393 - accuracy: 0.7375
Epoch 21/50
804/804 [==============================] - 1s 936us/step - loss: 0.5389 - accuracy: 0.7371
Epoch 22/50
804/804 [==============================] - 1s 909us/step - loss: 0.5391 - accuracy: 0.7366
Epoch 23/50
804/804 [==============================] - 1s 933us/step - loss: 0.5387 - accuracy: 0.7375
Epoch 24/50
804/804 [==============================] - 1s 901us/step - loss: 0.5382 - accuracy: 0.7371
Epoch 25/50
804/804 [==============================] - 1s 925us/step - loss: 0.5384 - accuracy: 0.7374
Epoch 26/50
804/804 [==============================] - 1s 921us/step - loss: 0.5388 - accuracy: 0.7366
Epoch 27/50
804/804 [==============================] - 1s 949us/step - loss: 0.5378 - accuracy: 0.7374
Epoch 28/50
804/804 [==============================] - 1s 921us/step - loss: 0.5379 - accuracy: 0.7372
Epoch 29/50
804/804 [==============================] - 1s 911us/step - loss: 0.5368 - accuracy: 0.7388
Epoch 30/50
804/804 [==============================] - 1s 934us/step - loss: 0.5374 - accuracy: 0.7374
Epoch 31/50
804/804 [==============================] - 1s 920us/step - loss: 0.5371 - accuracy: 0.7376
Epoch 32/50
804/804 [==============================] - 1s 908us/step - loss: 0.5367 - accuracy: 0.7389
Epoch 33/50
804/804 [==============================] - 1s 919us/step - loss: 0.5371 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 1s 910us/step - loss: 0.5364 - accuracy: 0.7386
Epoch 35/50
804/804 [==============================] - 1s 964us/step - loss: 0.5364 - accuracy: 0.7384
Epoch 36/50
804/804 [==============================] - 1s 911us/step - loss: 0.5361 - accuracy: 0.7388
Epoch 37/50
804/804 [==============================] - 1s 920us/step - loss: 0.5362 - accuracy: 0.7383
Epoch 38/50
804/804 [==============================] - 1s 912us/step - loss: 0.5362 - accuracy: 0.7383
Epoch 39/50
804/804 [==============================] - 1s 921us/step - loss: 0.5361 - accuracy: 0.7393
Epoch 40/50
804/804 [==============================] - 1s 904us/step - loss: 0.5358 - accuracy: 0.7380
Epoch 41/50
804/804 [==============================] - 1s 912us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 42/50
804/804 [==============================] - 1s 925us/step - loss: 0.5354 - accuracy: 0.7386
Epoch 43/50
804/804 [==============================] - 1s 929us/step - loss: 0.5356 - accuracy: 0.7391
Epoch 44/50
804/804 [==============================] - 1s 907us/step - loss: 0.5354 - accuracy: 0.7390
Epoch 45/50
804/804 [==============================] - 1s 924us/step - loss: 0.5355 - accuracy: 0.7391
Epoch 46/50
804/804 [==============================] - 1s 920us/step - loss: 0.5350 - accuracy: 0.7387
Epoch 47/50
804/804 [==============================] - 1s 916us/step - loss: 0.5351 - accuracy: 0.7387
Epoch 48/50
804/804 [==============================] - 1s 935us/step - loss: 0.5349 - accuracy: 0.7396
Epoch 49/50
804/804 [==============================] - 1s 921us/step - loss: 0.5353 - accuracy: 0.7388
Epoch 50/50
804/804 [==============================] - 1s 917us/step - loss: 0.5351 - accuracy: 0.7398

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [214]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5565 - accuracy: 0.7292 - 241ms/epoch - 898us/step
Loss: 0.5565337538719177, Accuracy: 0.7292128205299377

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [215]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [216]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [217]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [218]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 22

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

22

In [219]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [220]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_12"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_30 (Dense)            (None, 18)                2106

 dense_31 (Dense)            (None, 1)                 19

=================================================================
Total params: 2,125
Trainable params: 2,125
Non-trainable params: 0
_________________________________________________________________

In [221]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [222]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 868us/step - loss: 0.6006 - accuracy: 0.7077
Epoch 2/50
804/804 [==============================] - 1s 869us/step - loss: 0.5618 - accuracy: 0.7264
Epoch 3/50
804/804 [==============================] - 1s 848us/step - loss: 0.5550 - accuracy: 0.7297
Epoch 4/50
804/804 [==============================] - 1s 863us/step - loss: 0.5519 - accuracy: 0.7295
Epoch 5/50
804/804 [==============================] - 1s 957us/step - loss: 0.5511 - accuracy: 0.7300
Epoch 6/50
804/804 [==============================] - 1s 967us/step - loss: 0.5493 - accuracy: 0.7302
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7309
Epoch 8/50
804/804 [==============================] - 1s 938us/step - loss: 0.5484 - accuracy: 0.7322
Epoch 9/50
804/804 [==============================] - 1s 943us/step - loss: 0.5475 - accuracy: 0.7318
Epoch 10/50
804/804 [==============================] - 1s 912us/step - loss: 0.5467 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 1s 876us/step - loss: 0.5462 - accuracy: 0.7329
Epoch 12/50
804/804 [==============================] - 1s 886us/step - loss: 0.5465 - accuracy: 0.7326
Epoch 13/50
804/804 [==============================] - 1s 876us/step - loss: 0.5458 - accuracy: 0.7335
Epoch 14/50
804/804 [==============================] - 1s 835us/step - loss: 0.5454 - accuracy: 0.7327
Epoch 15/50
804/804 [==============================] - 1s 871us/step - loss: 0.5447 - accuracy: 0.7329
Epoch 16/50
804/804 [==============================] - 1s 839us/step - loss: 0.5450 - accuracy: 0.7336
Epoch 17/50
804/804 [==============================] - 1s 836us/step - loss: 0.5445 - accuracy: 0.7329
Epoch 18/50
804/804 [==============================] - 1s 849us/step - loss: 0.5444 - accuracy: 0.7334
Epoch 19/50
804/804 [==============================] - 1s 858us/step - loss: 0.5441 - accuracy: 0.7334
Epoch 20/50
804/804 [==============================] - 1s 874us/step - loss: 0.5433 - accuracy: 0.7345
Epoch 21/50
804/804 [==============================] - 1s 927us/step - loss: 0.5440 - accuracy: 0.7341
Epoch 22/50
804/804 [==============================] - 1s 835us/step - loss: 0.5435 - accuracy: 0.7340
Epoch 23/50
804/804 [==============================] - 1s 834us/step - loss: 0.5435 - accuracy: 0.7339
Epoch 24/50
804/804 [==============================] - 1s 834us/step - loss: 0.5430 - accuracy: 0.7343
Epoch 25/50
804/804 [==============================] - 1s 848us/step - loss: 0.5428 - accuracy: 0.7342
Epoch 26/50
804/804 [==============================] - 1s 856us/step - loss: 0.5425 - accuracy: 0.7349
Epoch 27/50
804/804 [==============================] - 1s 839us/step - loss: 0.5425 - accuracy: 0.7348
Epoch 28/50
804/804 [==============================] - 1s 878us/step - loss: 0.5419 - accuracy: 0.7339
Epoch 29/50
804/804 [==============================] - 1s 854us/step - loss: 0.5425 - accuracy: 0.7352
Epoch 30/50
804/804 [==============================] - 1s 841us/step - loss: 0.5419 - accuracy: 0.7350
Epoch 31/50
804/804 [==============================] - 1s 836us/step - loss: 0.5421 - accuracy: 0.7349
Epoch 32/50
804/804 [==============================] - 1s 859us/step - loss: 0.5415 - accuracy: 0.7346
Epoch 33/50
804/804 [==============================] - 1s 855us/step - loss: 0.5415 - accuracy: 0.7358
Epoch 34/50
804/804 [==============================] - 1s 855us/step - loss: 0.5417 - accuracy: 0.7348
Epoch 35/50
804/804 [==============================] - 1s 866us/step - loss: 0.5409 - accuracy: 0.7351
Epoch 36/50
804/804 [==============================] - 1s 848us/step - loss: 0.5411 - accuracy: 0.7354
Epoch 37/50
804/804 [==============================] - 1s 850us/step - loss: 0.5411 - accuracy: 0.7359
Epoch 38/50
804/804 [==============================] - 1s 848us/step - loss: 0.5406 - accuracy: 0.7358
Epoch 39/50
804/804 [==============================] - 1s 842us/step - loss: 0.5406 - accuracy: 0.7358
Epoch 40/50
804/804 [==============================] - 1s 848us/step - loss: 0.5406 - accuracy: 0.7354
Epoch 41/50
804/804 [==============================] - 1s 860us/step - loss: 0.5403 - accuracy: 0.7366
Epoch 42/50
804/804 [==============================] - 1s 842us/step - loss: 0.5404 - accuracy: 0.7347
Epoch 43/50
804/804 [==============================] - 1s 871us/step - loss: 0.5402 - accuracy: 0.7360
Epoch 44/50
804/804 [==============================] - 1s 837us/step - loss: 0.5398 - accuracy: 0.7361
Epoch 45/50
804/804 [==============================] - 1s 840us/step - loss: 0.5401 - accuracy: 0.7360
Epoch 46/50
804/804 [==============================] - 1s 833us/step - loss: 0.5402 - accuracy: 0.7364
Epoch 47/50
804/804 [==============================] - 1s 855us/step - loss: 0.5400 - accuracy: 0.7360
Epoch 48/50
804/804 [==============================] - 1s 860us/step - loss: 0.5397 - accuracy: 0.7369
Epoch 49/50
804/804 [==============================] - 1s 846us/step - loss: 0.5396 - accuracy: 0.7365
Epoch 50/50
804/804 [==============================] - 1s 836us/step - loss: 0.5387 - accuracy: 0.7372

#### Alternative Model 2

In [223]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [224]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [225]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 20

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

20

In [226]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [227]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_13"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_32 (Dense)            (None, 18)                2106

 dense_33 (Dense)            (None, 1)                 19

=================================================================
Total params: 2,125
Trainable params: 2,125
Non-trainable params: 0
_________________________________________________________________

In [228]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [229]:
# Fit the model
nn_A2.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 956us/step - loss: 0.5960 - accuracy: 0.7108
Epoch 2/100
804/804 [==============================] - 1s 984us/step - loss: 0.5599 - accuracy: 0.7277
Epoch 3/100
804/804 [==============================] - 1s 954us/step - loss: 0.5541 - accuracy: 0.7285
Epoch 4/100
804/804 [==============================] - 1s 853us/step - loss: 0.5513 - accuracy: 0.7301
Epoch 5/100
804/804 [==============================] - 1s 845us/step - loss: 0.5505 - accuracy: 0.7300
Epoch 6/100
804/804 [==============================] - 1s 836us/step - loss: 0.5488 - accuracy: 0.7330
Epoch 7/100
804/804 [==============================] - 1s 844us/step - loss: 0.5482 - accuracy: 0.7326
Epoch 8/100
804/804 [==============================] - 1s 856us/step - loss: 0.5477 - accuracy: 0.7329
Epoch 9/100
804/804 [==============================] - 1s 870us/step - loss: 0.5476 - accuracy: 0.7315
Epoch 10/100
804/804 [==============================] - 1s 858us/step - loss: 0.5465 - accuracy: 0.7327
Epoch 11/100
804/804 [==============================] - 1s 876us/step - loss: 0.5465 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 870us/step - loss: 0.5458 - accuracy: 0.7327
Epoch 13/100
804/804 [==============================] - 1s 846us/step - loss: 0.5451 - accuracy: 0.7331
Epoch 14/100
804/804 [==============================] - 1s 850us/step - loss: 0.5448 - accuracy: 0.7325
Epoch 15/100
804/804 [==============================] - 1s 894us/step - loss: 0.5442 - accuracy: 0.7334
Epoch 16/100
804/804 [==============================] - 1s 841us/step - loss: 0.5439 - accuracy: 0.7340
Epoch 17/100
804/804 [==============================] - 1s 845us/step - loss: 0.5440 - accuracy: 0.7337
Epoch 18/100
804/804 [==============================] - 1s 846us/step - loss: 0.5437 - accuracy: 0.7339
Epoch 19/100
804/804 [==============================] - 1s 834us/step - loss: 0.5437 - accuracy: 0.7341
Epoch 20/100
804/804 [==============================] - 1s 837us/step - loss: 0.5432 - accuracy: 0.7345
Epoch 21/100
804/804 [==============================] - 1s 841us/step - loss: 0.5432 - accuracy: 0.7339
Epoch 22/100
804/804 [==============================] - 1s 841us/step - loss: 0.5430 - accuracy: 0.7350
Epoch 23/100
804/804 [==============================] - 1s 863us/step - loss: 0.5429 - accuracy: 0.7337
Epoch 24/100
804/804 [==============================] - 1s 840us/step - loss: 0.5428 - accuracy: 0.7345
Epoch 25/100
804/804 [==============================] - 1s 844us/step - loss: 0.5425 - accuracy: 0.7340
Epoch 26/100
804/804 [==============================] - 1s 841us/step - loss: 0.5424 - accuracy: 0.7341
Epoch 27/100
804/804 [==============================] - 1s 836us/step - loss: 0.5422 - accuracy: 0.7352
Epoch 28/100
804/804 [==============================] - 1s 830us/step - loss: 0.5418 - accuracy: 0.7352
Epoch 29/100
804/804 [==============================] - 1s 854us/step - loss: 0.5419 - accuracy: 0.7343
Epoch 30/100
804/804 [==============================] - 1s 875us/step - loss: 0.5419 - accuracy: 0.7340
Epoch 31/100
804/804 [==============================] - 1s 830us/step - loss: 0.5418 - accuracy: 0.7348
Epoch 32/100
804/804 [==============================] - 1s 841us/step - loss: 0.5420 - accuracy: 0.7341
Epoch 33/100
804/804 [==============================] - 1s 862us/step - loss: 0.5411 - accuracy: 0.7350
Epoch 34/100
804/804 [==============================] - 1s 851us/step - loss: 0.5414 - accuracy: 0.7351
Epoch 35/100
804/804 [==============================] - 1s 845us/step - loss: 0.5410 - accuracy: 0.7344
Epoch 36/100
804/804 [==============================] - 1s 850us/step - loss: 0.5408 - accuracy: 0.7350
Epoch 37/100
804/804 [==============================] - 1s 842us/step - loss: 0.5411 - accuracy: 0.7353
Epoch 38/100
804/804 [==============================] - 1s 868us/step - loss: 0.5412 - accuracy: 0.7350
Epoch 39/100
804/804 [==============================] - 1s 845us/step - loss: 0.5407 - accuracy: 0.7360
Epoch 40/100
804/804 [==============================] - 1s 840us/step - loss: 0.5406 - accuracy: 0.7356
Epoch 41/100
804/804 [==============================] - 1s 828us/step - loss: 0.5404 - accuracy: 0.7350
Epoch 42/100
804/804 [==============================] - 1s 842us/step - loss: 0.5409 - accuracy: 0.7349
Epoch 43/100
804/804 [==============================] - 1s 838us/step - loss: 0.5401 - accuracy: 0.7346
Epoch 44/100
804/804 [==============================] - 1s 849us/step - loss: 0.5404 - accuracy: 0.7359
Epoch 45/100
804/804 [==============================] - 1s 844us/step - loss: 0.5406 - accuracy: 0.7346
Epoch 46/100
804/804 [==============================] - 1s 869us/step - loss: 0.5398 - accuracy: 0.7362
Epoch 47/100
804/804 [==============================] - 1s 833us/step - loss: 0.5397 - accuracy: 0.7358
Epoch 48/100
804/804 [==============================] - 1s 835us/step - loss: 0.5400 - accuracy: 0.7362
Epoch 49/100
804/804 [==============================] - 1s 839us/step - loss: 0.5393 - accuracy: 0.7341
Epoch 50/100
804/804 [==============================] - 1s 851us/step - loss: 0.5397 - accuracy: 0.7364
Epoch 51/100
804/804 [==============================] - 1s 841us/step - loss: 0.5397 - accuracy: 0.7350
Epoch 52/100
804/804 [==============================] - 1s 841us/step - loss: 0.5395 - accuracy: 0.7356
Epoch 53/100
804/804 [==============================] - 1s 850us/step - loss: 0.5394 - accuracy: 0.7377
Epoch 54/100
804/804 [==============================] - 1s 886us/step - loss: 0.5393 - accuracy: 0.7361
Epoch 55/100
804/804 [==============================] - 1s 846us/step - loss: 0.5397 - accuracy: 0.7359
Epoch 56/100
804/804 [==============================] - 1s 838us/step - loss: 0.5393 - accuracy: 0.7359
Epoch 57/100
804/804 [==============================] - 1s 872us/step - loss: 0.5393 - accuracy: 0.7366
Epoch 58/100
804/804 [==============================] - 1s 850us/step - loss: 0.5390 - accuracy: 0.7364
Epoch 59/100
804/804 [==============================] - 1s 842us/step - loss: 0.5391 - accuracy: 0.7362
Epoch 60/100
804/804 [==============================] - 1s 829us/step - loss: 0.5390 - accuracy: 0.7350
Epoch 61/100
804/804 [==============================] - 1s 858us/step - loss: 0.5388 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7372
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7365
Epoch 64/100
804/804 [==============================] - 1s 926us/step - loss: 0.5386 - accuracy: 0.7367
Epoch 65/100
804/804 [==============================] - 1s 939us/step - loss: 0.5384 - accuracy: 0.7371
Epoch 66/100
804/804 [==============================] - 1s 895us/step - loss: 0.5386 - accuracy: 0.7370
Epoch 67/100
804/804 [==============================] - 1s 942us/step - loss: 0.5381 - accuracy: 0.7365
Epoch 68/100
804/804 [==============================] - 1s 902us/step - loss: 0.5388 - accuracy: 0.7367
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7367
Epoch 70/100
804/804 [==============================] - 1s 909us/step - loss: 0.5380 - accuracy: 0.7370
Epoch 71/100
804/804 [==============================] - 1s 845us/step - loss: 0.5383 - accuracy: 0.7367
Epoch 72/100
804/804 [==============================] - 1s 856us/step - loss: 0.5384 - accuracy: 0.7362
Epoch 73/100
804/804 [==============================] - 1s 953us/step - loss: 0.5384 - accuracy: 0.7360
Epoch 74/100
804/804 [==============================] - 1s 844us/step - loss: 0.5383 - accuracy: 0.7370
Epoch 75/100
804/804 [==============================] - 1s 949us/step - loss: 0.5381 - accuracy: 0.7365
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7378
Epoch 77/100
804/804 [==============================] - 1s 902us/step - loss: 0.5381 - accuracy: 0.7366
Epoch 78/100
804/804 [==============================] - 1s 910us/step - loss: 0.5377 - accuracy: 0.7376
Epoch 79/100
804/804 [==============================] - 1s 788us/step - loss: 0.5381 - accuracy: 0.7374
Epoch 80/100
804/804 [==============================] - 1s 821us/step - loss: 0.5369 - accuracy: 0.7363
Epoch 81/100
804/804 [==============================] - 1s 912us/step - loss: 0.5378 - accuracy: 0.7367
Epoch 82/100
804/804 [==============================] - 1s 827us/step - loss: 0.5374 - accuracy: 0.7367
Epoch 83/100
804/804 [==============================] - 1s 960us/step - loss: 0.5377 - accuracy: 0.7363
Epoch 84/100
804/804 [==============================] - 1s 905us/step - loss: 0.5379 - accuracy: 0.7360
Epoch 85/100
804/804 [==============================] - 1s 981us/step - loss: 0.5375 - accuracy: 0.7374
Epoch 86/100
804/804 [==============================] - 1s 813us/step - loss: 0.5377 - accuracy: 0.7367
Epoch 87/100
804/804 [==============================] - 1s 814us/step - loss: 0.5373 - accuracy: 0.7365
Epoch 88/100
804/804 [==============================] - 1s 818us/step - loss: 0.5372 - accuracy: 0.7376
Epoch 89/100
804/804 [==============================] - 1s 794us/step - loss: 0.5372 - accuracy: 0.7379
Epoch 90/100
804/804 [==============================] - 1s 918us/step - loss: 0.5373 - accuracy: 0.7371
Epoch 91/100
804/804 [==============================] - 1s 899us/step - loss: 0.5371 - accuracy: 0.7373
Epoch 92/100
804/804 [==============================] - 1s 804us/step - loss: 0.5372 - accuracy: 0.7367
Epoch 93/100
804/804 [==============================] - 1s 802us/step - loss: 0.5368 - accuracy: 0.7378
Epoch 94/100
804/804 [==============================] - 1s 797us/step - loss: 0.5372 - accuracy: 0.7380
Epoch 95/100
804/804 [==============================] - 1s 788us/step - loss: 0.5371 - accuracy: 0.7379
Epoch 96/100
804/804 [==============================] - 1s 803us/step - loss: 0.5366 - accuracy: 0.7382
Epoch 97/100
804/804 [==============================] - 1s 806us/step - loss: 0.5369 - accuracy: 0.7374
Epoch 98/100
804/804 [==============================] - 1s 906us/step - loss: 0.5367 - accuracy: 0.7380
Epoch 99/100
804/804 [==============================] - 1s 856us/step - loss: 0.5367 - accuracy: 0.7372
Epoch 100/100
804/804 [==============================] - 1s 897us/step - loss: 0.5365 - accuracy: 0.7389

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [230]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5565 - accuracy: 0.7292 - 167ms/epoch - 625us/step
Loss: 0.5565337538719177, Accuracy: 0.7292128205299377

In [231]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5726 - accuracy: 0.7285 - 233ms/epoch - 870us/step
Loss: 0.5725677013397217, Accuracy: 0.7285131216049194

In [232]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5598 - accuracy: 0.7306 - 228ms/epoch - 850us/step
Loss: 0.5597602725028992, Accuracy: 0.7306122183799744

### Step 3: Save each of your alternative models as an HDF5 file.

In [233]:
# Set the file path for the first alternative model
file_path = "Alternate_model_A1"

# Export your model to a HDF5 file
nn_A1.save(file_path)

INFO:tensorflow:Assets written to: Alternate_model_A1\assets

In [234]:
# Set the file path for the second alternative model
file_path = "Alternate_model_A2"

# Export your model to a HDF5 file
nn_A2.save(file_path)

INFO:tensorflow:Assets written to: Alternate_model_A2\assets